[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/hsanchez/colabs/blob/main/lstm/lstm-for-regression.ipynb)

# LSTM for regression problems

**GOAL:** Our goal is to forecast air quality in Austin—specifically, 2.5-micron particulate matter (PM2.5)—from sensors around the state of Texas.

Specifically, we are interested in answering the question What is the air quality in Austin Texas given some sensor data?

See original: https://www.crosstab.io/articles/time-series-pytorch-lstm

And Github:
https://github.com/CrosstabKite/lstm-forecasting/blob/master/lstm_forecasting.ipynb

In [1]:
import pandas as pd

df = pd.read_csv("processed_pm25.csv", index_col="created_at")
df.head()

,McAllen,Austin,Del Rio,Midlothian,Midland,Houston
created_at,,,,,,
2021-09-01 00:00:00+00:00,23.39,8.32,5.37,4.79,7.57,7.60
2021-09-01 00:02:00+00:00,23.02,8.93,5.95,4.60,8.50,7.78
2021-09-01 00:04:00+00:00,25.49,10.10,5.84,5.70,8.07,7.64
2021-09-01 00:06:00+00:00,25.22,9.24,7.07,5.18,8.66,7.69
2021-09-01 00:08:00+00:00,23.16,9.02,5.18,5.29,7.98,7.74